@mixin light-theme {
  --scrollbar-track-color: #f0f0f0;
  --scrollbar-hover-color: #575757;
  --scrollbar-primary-color: #858585;
  --box-shadow-color: #00000026;
  --list-filter-selected-bg-color: #fad986;
  --list-filter-selected-fg-color: black;
  --change-list-table-header-bg-color: #f1f5f9;
  --change-list-table-header-bg-color2: #e2e8f0;
  --change-list-table-header-fg-color: black;
  --change-list-table-header-bg-hover-color: #cbd5e1;
  --change-list-table-header-separator-color: var(--hairline-color);
  --sort-icons-color: #1e293b;
  --sort-icons-hover-color: #475569;
  --body-bg: #ffffff;
  --border-color: #dee2e6;
  --hairline-color: #c7c8c9;
  --darkened-bg: #f5f5f5;
  --focus-border-color: #0d6efd40;
  --checkbox-bg-color: #0d6efd;
  --form-control-disabled-bg-color: #e9ecef;
  --checkbox-border-color: rgba(0, 0, 0, 0.25);

  /* SVG*/
  --sort-ascending-svg: url("../svg/table-sort/ascending.svg");
  --sort-descending-svg: url("../svg/table-sort/descending.svg");
  --sort-remove-svg: url("../svg/table-sort/sort-remove.svg");
  --chevron-svg: url("../svg/change-list/chevron.svg");

  /* Defaults*/
  --default-border: 1px solid var(--hairline-color);
  --default-shadow-box: 1px 0px 5px var(--box-shadow-color);

  /* Pagination */
  --pagination-current-page-bg-color: #c6cbd1;
}
