@use "enhancer-globals" as mixin;
:root {
  @include mixin.light-theme;
}
body {
  font-family:
    Inter var,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
}
#site-name > a::before {
  content: "";
  background-image: url("../svg/brand.svg"), url("../images/brand.png");
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}
::-webkit-scrollbar {
  width: 17px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--scrollbar-track-color);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-primary-color);
  border: 4px solid var(--scrollbar-track-color);
  border-radius: 10px;
  width: 8px !important;
  height: 40px;

  &:hover,
  &:active {
    background: var(--scrollbar-hover-color);
  }
  ::-webkit-scrollbar {
    &:vertical {
      width: 17px;
    }
    &:horizontal {
      height: 17px;
    }
  }
}
::-webkit-scrollbar-button:single-button {
  display: block;
  background-color: var(--scrollbar-track-color);
  width: 15px;
  height: 15px;

  &:horizontal {
    &:decrement {
      background-image: url("../svg/scrollbar/left.svg");
      background-position: center;
      background-repeat: no-repeat;
      &:hover {
        background-image: url("../svg/scrollbar/left-hover.svg");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &:increment {
      background-image: url("../svg/scrollbar/right.svg");
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background-image: url("../svg/scrollbar/right-hover.svg");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &:vertical {
    &:decrement {
      background-image: url("../svg/scrollbar/up.svg");
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background-image: url("../svg/scrollbar/up-hover.svg");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &:increment {
      background-image: url("../svg/scrollbar/down.svg");
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background-image: url("../svg/scrollbar/down-hover.svg");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
table {
  tbody td {
    padding: 8px 15px;
    font-family: sans-serif;
    font-size: 0.9em;
  }
  thead th {
    padding: 5px 10px;
    border-top: none;
    color: var(--change-list-table-header-fg-color);
    background: var(--change-list-table-header-bg-color);
  }
  a {
    color: var(--change-list-table-header-fg-color);
  }
}
table thead th {
  background: var(--change-list-table-header-bg-color);

  false {
    border-left: solid var(--change-list-table-header-separator-color) 1px;
  }
  &.sortable {
    background: var(--change-list-table-header-bg-color2);

    .text a {
      background: var(--change-list-table-header-bg-color2);
      transition: unset;
    }
    &:hover {
      background: var(--change-list-table-header-bg-hover-color);

      .text a {
        background: var(--change-list-table-header-bg-hover-color);
      }
    }
  }
  &.sorted .sortoptions a {
    background-color: var(--sort-icons-color);
    mask-size: 14px auto;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 14px auto;
    transition: unset;
    background-image: unset;

    &:hover {
      background-color: var(--sort-icons-hover-color);
      background-image: unset;
    }
    &.ascending {
      mask-image: var(--sort-ascending-svg);
      -webkit-mask-image: var(--sort-ascending-svg);
    }
    &.descending {
      mask-image: var(--sort-descending-svg);
      -webkit-mask-image: var(--sort-descending-svg);
    }
    &.sortremove {
      mask-image: var(--sort-remove-svg);
      -webkit-mask-image: var(--sort-remove-svg);
      transition: unset;

      &::after,
      &:hover::after {
        content: none;
      }
    }
  }
}
.module table {
  max-width: calc(100% - 10px);
  margin-left: 5px;
  border-collapse: separate !important;
  border-spacing: 0;
}

.module caption,
.module h2,
.inline-group h2 {
  border: var(--default-border) !important;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.module > table > {
  tbody {
    th:first-child {
      border-left: var(--default-border);
    }
    td:last-child {
      border-right: var(--default-border);
    }
    > tr:nth-last-child(1) > {
      td:first-child,
      th:first-child {
        border-right: none;
        border-bottom-left-radius: 10px;
        border-bottom: var(--default-border);
      }
      td:last-child {
        border-left: none;
        border-bottom-right-radius: 10px;
        border-bottom: var(--default-border);
      }
    }
  }
}
@keyframes expandAnimation {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100px;
    opacity: 1;
  }
}

fieldset {
  transition: height 3.3s ease-in-out;
  &.module {
    h2 {
      border-radius: 10px;
      transition: background 0.3s ease-in-out;
      font-weight: 500;
    }
    > div.inline-related {
      margin-right: 5px;
      margin-left: 5px;
    }
    > table {
      animation: expandAnimation 0.5s ease-in-out;
      margin-top: 5px;
      > thead {
        th {
          border-top: var(--default-border);
        }
        th:not(.original):first-child,
        th.original + th:not(.original) {
          border-top-left-radius: 10px;
        }
        th:last-child {
          border-top-right-radius: 10px;
        }
        tr {
          border: var(--default-border);
        }
        th:last-child {
          border-right: var(--default-border);
        }
      }
      > tbody {
        tr {
          td:not(.original):first-child,
          td.original + td:not(.original) {
            border-left: var(--default-border);
          }
        }
        > tr:nth-last-child(1) > {
          td:last-child,
          td:first-child {
            border-left: var(--default-border);
            border-right: var(--default-border);
          }
        }
      }
    }
  }
  &.collapsed {
    border: none;
    > h2 {
      display: block;
      opacity: 1;
    }
  }
}
input,
select,
textarea {
  &:focus {
    border-color: var(--focus-border-color);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--focus-border-color);
  }
  &:disabled {
    border-color: var(--form-control-disabled-bg-color);
  }
}
input[type="checkbox"] {
  border-radius: 0.25em;
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: var(--body-bg);
  background-repeat: no-repeat;
  background-size: 1em 1em;
  border: 1px solid var(--checkbox-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;

  &:checked {
    background-image: url("../svg/checkbox/check-mark.svg");
    background-position: center;
    background-color: var(--checkbox-bg-color);
    border-color: var(--checkbox-bg-color);
  }
}
#content-related {
  border: var(--default-border) !important;
  border-radius: 10px;

  .module {
    background: none;

    h2,
    h3,
    ul {
      background: var(--darkened-bg);
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
    }
  }
}
