:root {
  --box-shadow-color: #00000026;
  --list-filter-selected-bg-color: #fad986;
  --list-filter-selected-fg-color: black;
  --change-list-table-header-bg-color: #e2e8f0;
  --change-list-table-header-fg-color: black;
  --change-list-table-header-bg-hover-color: #cbd5e1;
  --sort-remove-color: #475569;
  --sort-remove-hover-color: #1e293b;
}

/* 
    Results Table
*/

table#result_list tbody td {
  padding: 8px 15px;
  font-family: sans-serif;
  font-size: 0.9em;
}
table#result_list thead th {
  padding: 5px 10px;
  border-top: none;
  color: var(--change-list-table-header-fg-color);
  background: var(--change-list-table-header-bg-color);
}
table#result_list thead th a {
  color: var(--change-list-table-header-fg-color);
}

/*
    Table inputs
*/

#changelist table input[type="text"]:focus,
#changelist table input[type="password"]:focus,
#changelist table input[type="email"]:focus,
#changelist table input[type="url"]:focus,
#changelist table input[type="number"]:focus,
#changelist table input[type="tel"]:focus,
#changelist table textarea:focus {
  font-size: 1rem;
  box-shadow: 0 1px 10px var(--box-shadow-color);
}

/* 
    Sort in table
*/

table#result_list thead th.sortable,
table#result_list thead th.sortable .text a {
  background: var(--change-list-table-header-bg-color);
}
table#result_list thead th.sortable .text a {
  transition: unset;
}
table#result_list thead th.sortable .text {
  padding-right: 42px;
  width: 100%;
}
table#result_list thead th.sortable:hover,
table#result_list thead th.sortable:hover .text a {
  background: var(--change-list-table-header-bg-hover-color);
}
table#result_list thead th.sorted .sortoptions a.ascending {
  background-image: url("../svg/table-sort/ascending.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: unset;
}
table#result_list thead th.sorted .sortoptions a.ascending:hover {
  background-image: url("../svg/table-sort/ascending-hover.svg");
  background-position: center;
  background-repeat: no-repeat;
}
table#result_list thead th.sorted .sortoptions a.descending {
  background-image: url("../svg/table-sort/descending.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: unset;
}
table#result_list thead th.sorted .sortoptions a.descending:hover {
  background-image: url("../svg/table-sort/descending-hover.svg");
  background-position: center;
  background-repeat: no-repeat;
}
table#result_list thead th.sorted .sortoptions a.sortremove {
  background-image: url("../svg/table-sort/sort-remove.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: unset;
}
table#result_list thead th.sorted .sortoptions a.sortremove:hover {
  background-image: url("../svg/table-sort/sort-remove-hover.svg");
  background-position: center;
  background-repeat: no-repeat;
}
table#result_list thead th.sorted .sortoptions a.sortremove::after {
  content: "\\";
  font-weight: 400;
  color: var(--sort-remove-color) !important;
}
table#result_list thead th.sorted .sortoptions a.sortremove:hover::after {
  content: "\\";
  font-weight: 400;
  color: var(--sort-remove-hover-color) !important;
}
table#result_list thead th.sortable.sorted .text a::after,
table#result_list thead th.sortable.sorted:hover .text a::after {
  content: unset;
  background-image: unset;
}
table#result_list thead th.sortable .text a::after {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("../svg/table-sort/sort.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: unset;
  background-size: 14px auto;
  display: block;
  float: right;
  text-align: right;
}
table#result_list thead th.sortable:hover .text a::after {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url("../svg/table-sort/sort-hover.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/*
    Results List container
*/

form#changelist-form div.results {
  border: 1px solid var(--hairline-color);
  border-radius: 10px;
  box-shadow: 1px 0px 5px var(--box-shadow-color);
}
form#changelist-form p.paginator {
  border-top: none;
}

/* 
    List Filters 
*/

#changelist-filter {
  border-radius: 10px;
  box-shadow: 1px 0px 5px var(--box-shadow-color);
}
#changelist-search > div {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
  flex-direction: row;
}
#changelist-filter > h2 {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*
    Search-Form
*/

#toolbar {
  border: 1px solid var(--hairline-color) !important;
  box-shadow: 1px 0px 5px var(--box-shadow-color);
  border-radius: 10px;
}

/*
    Collapse List Filter
*/

#changelist-filter details > summary::before {
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  content: "";
  background-image: url("../svg/change-list/chevron.svg");
  background-repeat: no-repeat;
  background-size: 0.875em 0.875em;
  transition: transform 0.2s ease-in-out;
}
#changelist-filter details[open] > summary::before {
  display: inline-block;
  content: "";
  width: 1.375em;
  height: 0.875em;
  background-size: 1.375em 0.875em;
  background-repeat: no-repeat;
  background-image: url("../svg/change-list/chevron.svg");
  transform: rotate(90deg);
}
#changelist-filter details > summary {
  position: relative;
  display: inline-block;
  cursor: default;
}
#changelist-filter details > summary::after {
  content: "Expand filter";
  position: absolute;
  bottom: 100%;
  transform: translateY(150%);
  padding: 3px 6px;
  background-color: var(--body-bg);
  color: var(--body-fg);
  border: 1px solid var(--body-fg);
  border-radius: 4px;
  opacity: 0;
  font-size: small;
  font-weight: lighter;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition-delay: 0s;
  white-space: nowrap;
  left: 0;
  z-index: 9999;
}
#changelist-filter details[open] > summary::after {
  content: "Collapse filter";
  z-index: 9999;
}
#changelist-filter details > summary:hover::after {
  opacity: 1;
  transition-delay: 2s;
  visibility: visible;
}
#changelist-filter > details > ul > li.selected {
  border: none;
}
#changelist-filter > details > ul > li.selected a {
  background: var(--list-filter-selected-bg-color);
  color: var(--list-filter-selected-fg-color);
  border-radius: 10px;
  display: inline-block;
  padding: 2px 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --box-shadow-color: #80808026;
    --list-filter-selected-bg-color: #00363a;
    --list-filter-selected-fg-color: var(--link-fg);
    --change-list-table-header-bg-color: #0c4a6e;
    --change-list-table-header-fg-color: #e2e8f0;
    --change-list-table-header-bg-hover-color: #0369a1;
    --sort-remove-color: #e2e8f0;
    --sort-remove-hover-color: #1e1b4b;
  }
  /*
    List Filter
  */

  #changelist-filter {
    box-shadow: 1px 0px 5px var(--box-shadow-color);
  }
  #changelist-filter > details > ul > li.selected a {
    background: var(--list-filter-selected-bg-color);
    color: var(--list-filter-selected-fg-color);
  }

  /*
    Search Form
  */
  #toolbar {
    box-shadow: 1px 0px 5px var(--box-shadow-color);
  }

  form#changelist-form div.results {
    box-shadow: 1px 0px 5px var(--box-shadow-color);
  }

  /*
    Collapse List Filter
 */

  #changelist-filter details > summary::before {
    background-image: url("../svg/change-list/chevron-dark.svg");
  }
  #changelist-filter details[open] > summary::before {
    background-image: url("../svg/change-list/chevron-dark.svg");
  }

  /*
    Sort in table
  */
  table#result_list thead th.sorted .sortoptions a.ascending {
    background-image: url("../svg/table-sort/ascending-dark.svg");
  }
  table#result_list thead th.sorted .sortoptions a.ascending:hover {
    background-image: url("../svg/table-sort/ascending-dark-hover.svg");
  }
  table#result_list thead th.sorted .sortoptions a.descending {
    background-image: url("../svg/table-sort/descending-dark.svg");
  }
  table#result_list thead th.sorted .sortoptions a.descending:hover {
    background-image: url("../svg/table-sort/descending-dark-hover.svg");
  }
  table#result_list thead th.sorted .sortoptions a.sortremove {
    background-image: url("../svg/table-sort/sort-remove-dark.svg");
  }
  table#result_list thead th.sorted .sortoptions a.sortremove:hover {
    background-image: url("../svg/table-sort/sort-remove-dark-hover.svg");
  }
  table#result_list thead th.sortable .text a::after {
    background-image: url("../svg/table-sort/sort-dark.svg");
  }
  table#result_list thead th.sortable:hover .text a::after {
    background-image: url("../svg/table-sort/sort-dark-hover.svg");
  }
}
